@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}

body{
    max-height: 100vh;
    background: #6E5C62;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    overflow-y: hidden;
}

header{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    max-width: 1000px;
    height: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.yellow{
    background-color: #D3AD69 !important;
}

.green{
    background-color: #3AA394 !important;
}

.black{
    background-color: #312A2C !important
}

.opaque{
    opacity: 50%;
}