#keyboard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.6rem;
    margin-bottom: 10rem;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.keyboardLetter{
    background-color: #4C4347;
    color: #FFF;
    font-size: 1.2em;
    padding: 1.5rem;
    border-radius: 10px;
}

@media(max-height: 700px){
    .keyboardLetter{
        padding:1rem;
    }
}
